* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 980px;
    min-height: 300px;
    margin: 20px 0 0 20px;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
    background-color: lightskyblue;
}

#wrapper2 {
    width: 980px;
    min-height: 300px;
    margin: 20px 0 0 20px;
    padding: 20px 0 20px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    background-color: lightskyblue;
}

#left-chunk {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-chunk-ht {
    /* max-height: 400px; */
    /* position: absolute; */
}

#entry-area {
    display: block;
    /* justify-content: space-between;
    flex-direction: column; */
}

.input-group input{
    margin:8px 0 0 35px;
}

.btn-pos-adj {
    margin: 10px 0 0 90px;
}

#txt-area-shift textarea {
    margin: 0 0 0 50px;
}

#right-chunk {
    width: 350px;
}